
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Raleway&display=swap');
html{
  height: 100vh;
}
.App {
  text-align: center;
}
body{
  background-color: inherit;
  /* background-color: rgb(0, 30, 60); */
  /* font-family: 'Raleway'; */
/* color: white; */
}
h2{
  font-size: 2rem;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.7) !important;
  ;
}
.header{
  /* background-color: rgb(21,32,43); */
  width: 100%;
  padding: 1px;
  font-family: 'Raleway';
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color: rgba(255, 255, 255, 0.7) !important;

}
.css-i4bv87-MuiSvgIcon-root{
  font-size: 2rem !important;
}
.header_text{
  /* color: white; */
}
.feelsLike{
  /* color: white; */
  margin-top: -3rem;
}
.termIcon{
  font-size: 3.5rem!important;

}
.currentTemp{
  /* color: white; */
  font-size: 5em;
}
.cityName{
  font-family: 'Raleway';
  /* color: white; */
  font-size: 3rem;
}
.locationIcon{
  font-size: 2.0rem !important;
}
ul li {
  list-style: none;
}

.description{
  margin-top: 3rem;
  font-family: 'Raleway';

}
.iconNext{
  width: auto;
    height: 360px;
    margin-top: -6rem
}

.App-link {
  color: #61dafb;
}

.clima{
  display: flex;
  justify-content: center;
}
.currentDescrip{
  margin-top: -2rem;
  display: flex;
  justify-content: center;
}
.nextDays{
  background-color: #80e0fa;
}
.imageIcon{
    display: flex;
    justify-content: center;
}