
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Raleway&display=swap');
.App {
  text-align: center;
}
body{
 background-color: rgb(89, 211, 241);
 /* font-family: 'Raleway'; */
color: white;
}
.header{
  background-color: rgb(21,32,43);
  width: 100%;
  padding: 1px;
  font-family: 'Raleway';
  
}
.header_text{
  color: white;
}
.feelsLike{
  color: white;
  margin-top: -4rem;
}
.termIcon{
  background-image: url("../src/assets/icons/term2.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 52px;
}
.currentTemp{
  color: white;
  font-size: 5em;
}
.cityName{
  font-family: 'Raleway';
  color: white;
  font-size: 3rem;
}
.locationIcon{
  background: url('../src/assets/icons/pinRedim.png') ;
  height: 30px;
    width: 37px;
    background-repeat: no-repeat;
}
ul li {
  list-style: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img{
  width: auto;
    height: 392px;
    margin-top: -6rem;
}
.description{
  margin-top: 3rem;
  font-family: 'Raleway';

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clima{
  display: flex;
  justify-content: center;
}
.currentDescrip{
  margin-top: -6.5rem;
}
.nextDays{
  background-color: #80e0fa;
}
